{% extends "OCPrepBundle::layout.html.twig" %}

{% block body%}
    <section class="jumbotron text-center" style="
            background-image: url({{ asset('pics/alesia-kazantceva-362303.jpg') }});
            height:300px;
            background-repeat: no-repeat;
            background-size: cover;">
        <div class="container">
            <h1 class="jumbotron-heading text-muted" style="font-family: 'Princess Sofia', cursive;font-size: 180px;">SnowTricks</h1>
        </div>
    </section>
    <div class="album text-muted">
        <div class="container">
            <div class="row">
                <div class="card">
                    <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}