body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}
.thumbnail {
    padding:0px !important;
}
.panel {
    position:relative !important;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute !important;
    top:11px;left:-16px !important;
    right:100% !important;
    width:0 !important;
    height:0 !important;
    display:block !important;
    content:" " !important;
    border-color:transparent !important;
    border-style:solid solid outset !important;
    pointer-events:none !important;
}
.panel>.panel-heading:after{
    border-width:7px !important;
    border-right-color:#f7f7f7 !important;
    margin-top:1px !important;
    margin-left:2px !important;
}
.panel>.panel-heading:before{
    border-right-color:#ddd !important;
    border-width:8px !important;
}
.bannermid {
    background-color: #2b669a;
    background-size: cover;
    z-index: -2;
}
.bannertop {
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#bg {
  position: fixed;
  background-size: cover;
    z-index: -1;
  /* Preserve aspet ratio */
    top:0;
    bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.carousel {
    position: relative;
    height: 100%;
}
.d-block {
    width: 800px;
    z-index: 0;
    height: 550px;
}

.well {
    font-weight: bold;
    text-align: center;
}
.titleadd {
    color: #ffffdd;
    font-family: 'Princess Sofia', cursive;
    font-size: 100px;
    padding: 10px;
}

#addgroup {

    padding: 0;
    bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.card-header {
    width:100%;
    padding: .75rem;
    word-wrap: break-word;
}

.card-block {
  padding: 0;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
