body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}
#bg {
  position: fixed;
  background-size: cover;
    z-index: -1;
  /* Preserve aspet ratio */
    top:0;
    bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.carousel {
    position: relative;
    height: 100%;
}
.d-block {
    width: 800px;
    z-index: 0;
    height: 550px;
}

.well {
    font-weight: bold;
    text-align: center;
}
.titleadd {
    color: #ffffdd;
    font-family: 'Princess Sofia', cursive;
    font-size: 100px;
    padding: 10px;
}

#addgroup {

    padding: 0;
    bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.card-block {
  padding: 0;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
